<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Daniel Guerra Bernardo.
</p>
<p href=https://github.com/dguerrab/Q2017>https://github.com/dguerrab/Q2017</p>

<img src="/images/Foto2012.png" />

